header{
    min-height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    background-color: #789;;
  

}
header .logo h1{
    font-size: 1.6rem;
}
header .logo a{
    text-decoration: none;
    text-transform: uppercase;
    color: #FEE200;
    
}
header nav{
    display: flex;
}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul{
    margin-bottom: 0;
}
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #FEE200;
    padding: 0 15px;
    font-weight: 600;
}
nav ul li a:hover{
    color: #FEE200;
}
nav .nav-cart{
    cursor: pointer;
    position: relative;
}
nav .nav-cart span{
    position: absolute;
    top:-12px;
    right: -7px;
    background: crimson;
    font-size: 10px;
    color: white;
    padding: 3px 5px;
    border-radius: 50%;
    z-index: -1;
}
header .menu,
header .close{
    cursor: pointer;
    display: none;
}
@media (max-width: 650px){
    header ul{
        position: fixed;
        top:0;
        left: -100%;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        background: white;
        z-index: 99;
        opacity: 1;
        transition: 0.5s linear;
    }
    header .menu,
    header .close{
        display: block;
    }
    header .close{
        position: absolute;
        top:10px;
        right: 20px;
    }
    header ul.toggle{
        left: 0;
    }
}

@media only screen and (max-width: 767px) {

    header ul{
        padding-top: 60px;
        justify-content: inherit;
        padding-left: 0px;
        text-align: left;
        align-items: inherit;
    }
    li{
        margin-bottom: 20px;
    }
}