* {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
  }
  
  .carousel-inner img{
    height: 550px;
  }
 
  .column {
    flex: 50.33%;
    padding: 5px;
  }

  .flexcabin .meeting{
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .flexcabin img{
    height: 20rem;
    width: 100%;
  }

  @media only screen and (max-width: 767px) {
    .myform .row{
      padding: 0px;
    }
    .carousel-inner img{
      height: auto;
    }
  }