#product {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}
.cabindropdown {
  float: right;
  padding-right: 22px;
}

center h2{
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #0e1b44;
    /* text-decoration: underline;
    text-decoration-color: #fee200; */
    text-decoration-style: solid;
}
.card {
  min-width: 300px;
  /* min-height: 400px; */
  /* border: 1px solid #eee; */
  overflow: hidden;
  /* padding: 10px; */
  /* box-shadow: 2px 8px 20px #ddd; */
  margin: 10px;
  transition: 0.5s linear;
  background-color: #789;
}
.card:hover {
  box-shadow: none;
}
.card img {
  max-width: 300px;
  width: 100%;
  height: 100%;
  max-height: 260px;
  display: block;
  object-fit: cover;
}
.card h3 {
  text-transform: uppercase;
  margin: 10px 0;
  text-align: center;
}

.card h3 a {
  color: #FEE200;
}

/* .card h3 a:hover{
    color: crimson;
}
.card span{
    color: crimson;
} */
.card .cab {
  display: flex;
  justify-content: space-between;
  color:#FEE200 ;
  padding: 0 10px;
}
.card p {
  margin: 10px 0;
}
.card button {
  border: none;
  outline: none;
  background: #333;
  color: white;
  width: 100%;
  height: 40px;
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 15px 0;
}
a{
  text-decoration: none !important;
}
label{
  margin-right: 5px;
}
select{
  font-size: 14px;
}
select option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 767px) {

  h3{
    margin: 15px;
  }
  .cabindropdown{
    float: none;
    text-align: center;
    margin-bottom: 10px;
  }
  center h2{
    padding: 15px 0;
    margin-bottom: 0;
  }
}